
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/dist/allstyles.css" />
</head>
<body class="container">
    <h2>Index</h2>
    <div id="fillthis"></div>
    <div id="fillthiswithes6lib"></div>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="~/dist/bundle.js"></script>
</body>
</html>

